.w-md-editor {
  .w-md-editor-toolbar-child {
    position: absolute;
    border-radius: 3px;
    box-shadow:
      0 0 0 1px var(--md-editor-box-shadow-color),
      0 0 0 var(--md-editor-box-shadow-color),
      0 1px 1px var(--md-editor-box-shadow-color);
    background-color: #ffffff;
    z-index: 10;
    display: none;
    &.active {
      display: block;
    }
    .w-md-editor-toolbar {
      height: fit-content;
      border-bottom: 0;
      padding: 3px;
      border-radius: 3px;
      ul > li {
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        button {
          width: -webkit-fill-available;
          height: initial;
          box-sizing: border-box;
          padding: 3px 4px 2px 4px;
          margin: 0;
          display: flex;
          align-items: center;
          *:nth-child(2) {
            margin-left: 4px;
          }
        }
      }
    }
  }
  .w-md-editor-toolbar.bottom .w-md-editor-toolbar-child {
    bottom: 32px;
  }
}
