.widget {
  flex-shrink: 0;
  position: relative;

  .iframeBlock {
    min-height: 60px;
    position: relative;

    .iframe {
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }

    .cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .dragResize {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 8px;
      cursor: s-resize;

      &:hover {
        background: linear-gradient(
          to bottom,
          #d7d7d7 0%,
          #d7d7d7 30%,
          #717171 30%,
          #717171 60%,
          #d7d7d7 60%,
          #d7d7d7 100%
        );
      }
    }
  }
}
