/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  .tabler-icon {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: sub;
  }
}

::-webkit-scrollbar {
  @apply w-1 h-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-500/50 rounded-full;
}

.mantine-contextmenu {
  padding: rem(4px);

  .mantine-contextmenu-item-button {
    padding: rem(6.66px) rem(12px);
  }

  .mantine-contextmenu-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
